@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
    font-family: "vazir-digits";

}
body{ 
    background: #0C0F14;
}

@font-face {
    font-family: "vazir";
    src: url("./fonts/Vazir.woff");
}

@font-face {
    font-family: "vazir-digits";
    src: url('./fonts/Vazir-Medium-FD.woff');
}

